* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, #0f9b8e, #0f766e);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTAINER */
.login-container {
  width: 900px;
  height: 520px;
  background: #fff;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

/* IMAGE SIDE */
.login-image {
  width: 50%;
  background: url('Kamojang_Hill_Bridge.jpg') center/cover no-repeat;
  position: relative;
}

.login-image .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 100, 80, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.login-image h1 {
  font-size: 30px;
  letter-spacing: 5px;
}

.login-image p {
  margin-top: 10px;
  font-size: 16px;
}

/* FORM SIDE */
.login-form {
  width: 50%;
  padding: 40px;
  text-align: center;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

.login-form h2 {
  color: #0f9b8e;
  margin-bottom: 5px;
}

.login-form p {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

/* INPUT */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #0f9b8e;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 45px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #0f9b8e;
}

/* OPTIONS */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 25px;
}

.options a {
  color: #0f9b8e;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #0f9b8e, #38ef7d);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

/* REGISTER */
.register {
  margin-top: 20px;
  font-size: 14px;
}

.register a {
  color: #0f9b8e;
  font-weight: bold;
  text-decoration: none;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .login-image {
    width: 100%;
    height: 200px;
  }

  .login-form {
    width: 100%;
  }
}